<a href="https://colab.research.google.com/github/rahul8308/internship/blob/main/task_5/Advertising_Sales_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

 **Load the Advertising dataset from a CSV file.**

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
df=pd.read_csv("/content/drive/MyDrive/Advertising.csv")
df.head()

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

**Preprocess the data as needed**

In [ ]:
df=pd.get_dummies(df,columns=['TV','Radio','Newspaper'],drop_first=True)

**Split the data into training and testing sets.**

In [ ]:
X = df.drop(['Sales'], axis=1)
y = df['Sales']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
X_train.head()

,Unnamed: 0,TV_4.1,TV_5.4,TV_7.3,TV_7.8,TV_8.4,TV_8.6,TV_8.7,TV_11.7,TV_13.1,...,Newspaper_72.3,Newspaper_73.4,Newspaper_74.2,Newspaper_75.0,Newspaper_75.6,Newspaper_79.2,Newspaper_84.8,Newspaper_89.4,Newspaper_100.9,Newspaper_114.0
79,80,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
197,198,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
38,39,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,25,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
122,123,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
y_train.head()

79     11.0
197    12.8
38     10.1
24      9.7
122    11.6
Name: Sales, dtype: float64

**Train a linear regression model on the training set using the advertising budgets.**

In [ ]:
lin_reg = LinearRegression()
lin_reg.fit(X_train, y_train)

LinearRegression()

In [ ]:
import statsmodels.api as sm
X_train_sm = sm.add_constant(X_train)
lr = sm.OLS(y_train, X_train_sm).fit()

In [ ]:
lr.params

const              1.352178e+01
Unnamed: 0         3.666342e-03
TV_4.1            -3.631245e+00
TV_5.4             1.840175e-13
TV_7.3             1.623641e-14
                       ...
Newspaper_79.2     6.473069e-01
Newspaper_84.8     0.000000e+00
Newspaper_89.4     0.000000e+00
Newspaper_100.9    3.301416e+00
Newspaper_114.0    0.000000e+00
Length: 528, dtype: float64

**trained model to predict the sales figures based on advertising budgets for new products**

In [ ]:
X_test_sm = sm.add_constant(X_test)
y_pred = lr.predict(X_test_sm)
y_pred.head()

95     13.873754
15     13.580446
30     13.635441
158    14.752040
128    17.773275
dtype: float64

**testing set using metrics such as mean squared error (MSE)**

In [ ]:
np.sqrt(mean_squared_error(y_test, y_pred))

5.18295615617982


 the testing set using metrics such  R-squared

In [ ]:
r_squared = r2_score(y_test, y_pred)
r_squared

0.14892344865253826

**predict the sales figures based on advertising budgets for new products.
**

In [ ]:
new_data = pd.DataFrame({'TV': [100], 'Radio': [50], 'Newspaper': [25], 'US': ['Yes']})
new_data = pd.concat([new_data, pd.get_dummies(new_data['US'])], axis=1)
new_data